@using ParaConfs.Models
@model ParaConfs.ViewModels.BookingIndexViewModel
@{
    ViewBag.Title = "Terms";


}

<div class="modal fade" role="dialog" tabindex="-1" id="changeDateModal" aria-labelledby="changeDateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Jump Date Change Request</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("RequestDateChange", "Booking"))
                {
                    <div style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px;">
                        @if (Model.DateConfirmed < DateTime.Now.AddDays(2))
                        {
                            <div class="alert alert-dismissible alert-danger">
                                Please be aware that any changes to your Venue or Jump Date at this late stage will incur a £100 cancellation fee.
                            </div>
                        }
                        else if (Model.DateConfirmed < DateTime.Now.AddDays(14))
                        {
                            <div class="alert alert-dismissible alert-danger">
                                Please be aware that any changes to your Venue or Jump Date at this late stage will incur a £50 cancellation fee.
                            </div>
                        }
                        
                        @if (Model.DateConfirmed != null)
                        {
                            <div class="alert alert-dismissible alert-info">
                                Please select a new jump date below. Your new date will not be confirmed until we have checked availability with the airfield.
                            </div>

                            <div class="row">
                                <div class="col-lg-7 col-lg-offset-2">
                                    <p class="form-inline">
                                        @Html.Label("New Jump Date")
                                        @Html.TextBox("datechange", "", new {@id = "datechange", @class = "form-control input-sm"})

                                        <span class="glyphicon glyphicon-pencil pull-right"></span>
                                    </p>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-lg-4 col-lg-offset-4">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button id="RequestDateChange" type="submit" onclick="this.form.submit();" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>

                        }
                        else
                        {
                            <p>
                                You can only request a date change once we have processed your original request with the airfield and confirmed your jump date.
                            </p>
                            <p>
                                Once we have notified you of this you may return here to choose a new jump date.
                            </p>

                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-lg-4 col-lg-offset-4">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>

                        }

                        @Html.HiddenFor(m => m.ID)


                        


                        </div>
    }
            </div>


        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/lib")
    @Styles.Render("~/Content/cssjqryUi")


}
