@using ParaConfs.Models
@model ParaConfs.ViewModels.BookingIndexViewModel
@{
    ViewBag.Title = "Terms";


}

<div class="modal fade" role="dialog" tabindex="-1" id="changeWeightModal" aria-labelledby="changeWeightModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Weight Change</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("WeightChange", "Booking"))
                {
                    <div style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px;">
                        
                        
                        <div class="alert alert-dismissible alert-info">
                            Please notify us of your new weight below. Please be aware that all jumpers are weighed at the airfield on the day of their jump.
                        </div>

                        <div class="row">
                            <div class="col-lg-7 col-lg-offset-2">
                                <p class="form-inline">
                                    @Html.Label("New Weight")
                                    @*@Html.TextBox("weightchange", "", new {@id = "weightchange", @class = "form-control input-sm"})*@
                                    @Html.DropDownListFor(b => b.WeightStone, @Model.WeightStoneDdl, new {@id = "stone", @class = "form-control input-sm" })
                                    @Html.DropDownListFor(b => b.WeightPounds, @Model.WeightPoundsDdl, new {@id = "pounds", @class = "form-control input-sm" })

                                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                                </p>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-lg-4 col-lg-offset-4">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button id="WeightChange" type="submit" onclick="this.form.submit();" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                        

                        @Html.HiddenFor(m => m.ID)

                    </div>
                }
            </div>


        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/lib")
    @Styles.Render("~/Content/cssjqryUi")


}
