@using Newtonsoft.Json
@using System.Web.Configuration
@using Microsoft.Ajax.Utilities
@using Microsoft.SqlServer.Server
@using ParaConfs.Models
@model ParaConfs.ViewModels.BookingIndexViewModel



<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Sponsorship</h3>
    </div>
    <div class="panel-body">

        @if (@Model.JCCovered || @Model.JCRaised > @Model.JumpCost) //JC covered
        {
            <div>
                @Html.Label("Jump Cost Covered", new {@class = "label label-success"})
                <p>
                    Your jump costs are marked as being covered, you will not need to pay for these on the day.
                </p>
            </div>

        }
        else if (Model.SelfFund)
        {
            <p>You are currently in our system as having not paid for your jump. You can do this by calling contacting Skyline or paying the airfield directly on the day</p>
        }
        else
        {

            switch (Model.Charity.Invoice)
            {
                //Have to pay for jump yourself. Can reimburse from off line donations


                case Charity.NoInvoiceNoPFP:
                     <div>
                         <h5>Payment Required on the day:</h5>
                         <p><strong class="text-danger">Jump Costs - £@Model.JumpCost</strong></p>
                         <p>
                             <ul>
                                 <li>
                                     This must be paid by @Model.Venue.PaymentMethods on the day or directly to skyline before the event, cash can be raised as offline donations. This payment <strong>
                                         can NOT be raised online.</strong> Failure to do so will result in you not being able to complete
                                     your jump.
                                 </li>
                             </ul>
                         </p>
                     </div>
                     break;
                 // have to use DIFC to pay jump costs
                 case Charity.NoInvoicePFP:
                     <div>
                         <h5>Payment Required on the day:</h5>
                        <p><strong class="text-danger">Jump Costs - £@Model.JumpCost</strong></p>
                         <p>
                             <ul>
                                 <li>
                                     This must be paid by @Model.Venue.PaymentMethods on the day, cash can be raised
                                     as offline donations. Failure to do so will result in you not being able to complete
                                     your jump.
                                 </li>
                                 <li>
                                     <strong>
                                         We will not be able to take the jump costs from funds raised on any online fundraising sites.
                                         If you use another fundraising site to raise your sponsorship money you must be able to pay the jump costs on the day
                                         by @Model.Venue.PaymentMethods; you are able to use offline donations to cover the jump costs
                                     </strong>
                                 </li>
                             </ul>
                         </p>

                     </div>
                     break;

                 case Charity.CanInvoice:
                     <div>
                         <h4>Total Sponsorship Commitment - @Model.TotalSp</h4>
                         <p><strong class="text-danger">Deposit - £@Model.Deposit</strong>
                         </p>
                         <p>
                             <ul>
                                 <li>You can now reimburse yourself this cost through any cash donations. Please note you cannot reimburse yourself this from any online donations. </li>
                             </ul>
                         </p>

                         <p><strong class="text-danger">Jump Costs - £@Model.JumpCost</strong></p>
                         <p>
                             <ul>
                                 <li>
                                     @*This can be paid either by @Model.Venue.PaymentMethods on the day of your jump if you are fundraising offline.*@
                                     If you are fundraising offline (i.e. not using an online fundraising page) this can be paid by cash or Debit/Credit Card on the day of your jump.
                                 </li>
                                 <li>
                                     @*Alternatively you can raise all your money on your sponsorship page.*@
                                     If you are fundraising online, it is possible for your jump costs to be free. For this, you will need a <b>minimum of £325.00 (£395 minus £70 deposit) in online sponsorship 7 days prior to your jump date.</b> Otherwise, you will be required to pay your full jump costs on the day. Failure to do so will result in you not being able to complete your jump
                                 </li>
                                 <li>
                                     @*You will need a <strong>minimum of £@Model.SPActual online 7 days prior to your jump date</strong> otherwise the full cost of your jump will be required on the day. Failure to do so will result in you not being able to complete your jump.*@
                                     If you have created an online fundraising page (i.e. Just Giving/Virgin Money Giving) you will need to inform Skyline of the link to the page using the text box above
                                 </li>
                             </ul>
                         </p>
                         
                     </div>
                     break;

             }
        }

        <!--let's do SP wording-->
        @if (Model.SelfFund == false)
        {
           
            

                switch (Model.Charity.Invoice)
                {
                    case Charity.NoInvoiceNoPFP:
                        <div>
                            <p>
                                <strong class="text-danger">Sponsorship - £@Model.SPActual</strong><ul>
                                    <li>This needs to be raised 7 days prior to your jump date. Failure to do so will result in you not being able to complete your jump. If you are fundraising online- you must supply us your online fundraising page. Keep in mind that you cannot use this page to cover your jump costs. See below if you are raising your money offline.  </li>
                                </ul>
                            </p>
                        </div>
                        break;

                    case Charity.NoInvoicePFP:
                        <div>
                            <p>
                                <strong class="text-danger">Sponsorship - £@Model.SPActual</strong><ul>
                                    <li>Online funds need to be raised 7 days prior to your jump date. Failure to do so will result in you not being able to complete your jump. If you are fundraising online- you can only use the Do It For Charity page that we have set up for you. You would have received an email with details on how to log on. See below if you are raising your money offline.</li>
                                </ul>
                            </p>

                        </div>
                        break;

                    case Charity.CanInvoice:
                        <p>
                            <strong class="text-danger">Sponsorship - £@Model.SPActual</strong><ul>
                                @*<li>Online funds need to be raised 7 days prior to your jump date. You will need to supply us with the online page you are using. Failure to do so will result in you not being able to complete your jump. See below if you are raising your money offline. </li>*@
                                <li>If you are fundraising offline you will need to hand in a cheque on the day written out to your chosen charity. This should be the total amount of sponsorship raised, minus your jump costs and deposit. You are also able to post-date your cheque by up to four weeks if you require more time to collect donations.</li>
                                <li>For offline fundraising, we accept <b>personal cheques, banker’s drafts, company cheques, Building Society cheques and postal orders.</b> Please put the name of the jumper/customer number on the back of every cheque.</li>
                                <li>If you are raising online, it is possible for you to not have to pay any jump costs or sponsorship on the day. To do this, you will need a <b>minimum of £@(Model.TotalSp - Model.Deposit) (£@Model.TotalSp minus £@Model.Deposit deposit) online 7 days prior to your jump date</b> otherwise you will be required to pay your full jump costs on the day. Failure to do so will result in you not being able to complete your jump.</li>
                            </ul>
                        </p>
                    break;

            }
            if (Model.Charity.Invoice != Charity.CanInvoice)
            { <strong class="text-danger">Total to Raise - £@Model.SPTarget</strong>
            <p>If you cannot pay by any of the above methods please ring skyline on 020 7424 5522</p>}

        }

        else //they have raised enough and don;t have to give any on the day
        {
            @Html.Label("Sponsorship Target Reached", new { @class = "label label-success" })
            <p>
                <br>
                You have raised your target for your charity! We encourage you to continue to really help make a difference.
            </p>
        }


        @if (!string.IsNullOrEmpty(Model.Charity.CharitySpecificSponsInfo))
        {
            <p>
                @Html.Raw(Model.Charity.CharitySpecificSponsInfo)
            </p>
        }

        <p class="text-danger">
            Please note a £50 cancellation fee will be charged for any changes made by you within four weeks of your jump date, this raises to £100 within 48hrs.
        </p>

    </div>
</div>
